---
### Proyecto Retail 
### Fase 3: Procesamiento de Datos
### Por: Equipo 5 (Luis Hermenegildo)
---

---
#### Carga de librerias
---

In [15]:
#Importamos Librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from utils import hasNullData

---
#### Lectura de archivo y carga exploración de datos
---

In [16]:
# Cargar los datos
df = pd.read_csv('../../data/OnlineRetail_clean.csv', encoding='ISO-8859-1')
# Mostrar las primeras filas
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSpent,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2

---
#### Establecimiento de tipos de datos
---

In [17]:
# Convertir InvoiceDate a datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [18]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSpent,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,2

---
#### Selección de variables
---

In [19]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalSpent', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek'],
      dtype='object')

In [22]:
df['StockCode'].value_counts()

StockCode
85123A    2065
22423     1894
85099B    1659
47566     1409
84879     1405
          ...
90181A       1
90199B       1
90102        1
84550        1
90214O       1
Name: count, Length: 3684, dtype: int64

In [23]:
df_model = df.drop(columns=['InvoiceNo','Country', 'Description', 'InvoiceDate'])

In [25]:
df_model.head()

,StockCode,Quantity,UnitPrice,CustomerID,TotalSpent,Year,Month,Day,Hour,DayOfWeek
0,85123A,6,2.55,17850.0,15.30,2010,12,1,8,2
1,71053,6,3.39,17850.0,20.34,2010,12,1,8,2
2,84406B,8,2.75,17850.0,22.00,2010,12,1,8,2
3,84029G,6,3.39,17850.0,20.34,2010,12,1,8,2
4,84029E,6,3.39,17850.0,20.34,2010,12,1,8,2

In [27]:
#Verificar que no existan valores nulos
df_model.isnull().sum()

# En caso de existir optar por el borrado
#df_model = df_model.dropna() 
# O rellenar
#df_model.fillna(df_model.mean(), inplace=True)

StockCode     0
Quantity      0
UnitPrice     0
CustomerID    0
TotalSpent    0
Year          0
Month         0
Day           0
Hour          0
DayOfWeek     0
dtype: int64

In [29]:
df_model = pd.get_dummies(df_model, columns=['StockCode', 'CustomerID'], drop_first=True)

In [31]:
df_model.shape

(401604, 8062)